:root {
    --ruby-red: rgb(201,31,60);
    --light-gray: rgb(234, 234,235);
    --silver: rgb(172, 172, 172);
    --slate-gray: rgb(96, 97, 98);
    --slate-blue: rgb(83, 90, 113);
    --yellow-gold: rgb(253, 185, 19);
  }